<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no, initial-scale=1.0">
    <title>My Advisor</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link href="https://fonts.cdnfonts.com/css/bleak-chop" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/draconian-typewriter" rel="stylesheet">
    <script src="/static/js/home.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="nav-bar">
        <div class="logo"><h3>My Wallet</h3></div>
        <ul class="list list-unstyled">
            <li class="text-center">
                <div id="expand"><img src="{{MEDIA_URL}}icons/expand.svg" alt="expand icon" class="img img-responsive"></div>Our Services <!--This is the main tab on the nav-bar and below it is the sub-menu -->
            </li>
            <li class="text-center">
                <div id="expand"><img src="{{MEDIA_URL}}icons/expand.svg" alt="expand icon" class="img img-responsive"></div>Request Demo <!--This is the main tab on the nav-bar and below it is the sub-menu -->
            </li>
            <li class="text-center">
                <div id="expand"><img src="{{MEDIA_URL}}icons/expand.svg" alt="expand icon" class="img img-responsive"></div>Calculator <!--This is the main tab on the nav-bar and below it is the sub-menu -->
            </li>
        </ul>
    </div>
    <div class="banner">
        <img src="{{MEDIA_URL}}/icons/logo-no-background.svg" alt="banner" class="img img-responsive">
        <div class="motto">
            <p class="text-sucess text-center">Transform Your Brand<br>and<br>Stand Out!</p>
            <button class="btn btn-lg btn-info">Take a Tour</button>
        </div>
    </div>
    

    <div class="online-presence">
        <p class="text-center text-success">Build your online presence</p>
    </div>

    <!--Cards go here-->
    <div class="online-presence">
        <!--
        <div class="card card1" id="card1"><p>Hahha</p></div>
        <div class="card card2" id="card2"></div>
        <div class="card card3" id="card3"></div>
        <div class="card card4" id="card4"></div>
        <div class="card card5" id="card5"></div>
        -->
    </div>

    <!--The footer section goes below-->
    <div class="footer">
        <!--Social media and links-->
        <div class="social-media">
            <img src="{{MEDIA_URL}}icons/twitter.png" alt="twitter" class="img img-responsive img-rounded">
            <img src="{{MEDIA_URL}}icons/linkedin.png" alt="linkedIn" class="img img-responsive img-rounded">
            <img src="{{MEDIA_URL}}icons/facebook.png" alt="facebook" class="img img-responsive img-rounded">
            <img src="{{MEDIA_URL}}icons/instagram.png" alt="facebook" class="img img-responsive img-rounded">
        </div>
        <img src="{{MEDIA_URL}}/icons/logo-no-background.svg" alt="banner" class="img img-responsive">
    </div>

    <!--<script>
        set_color();
    </script>-->
</body>
</html>
